@using CourseManagement.Constants
@using CourseManagement.Domain.Courses.Helpers
@using CourseManagement.Helpers
@model SearchResult[]

<div class="card">
    <div class="card-header border-transparent">
        <h3 class="card-title">Khóa học mới nhất</h3>
    </div>
    <div class="card-body p-0">
        <div class="table-responsive">
            <table class="table m-0">
                <thead>
                    <tr>
                        <th>Mã khóa học</th>
                        <th>Tên khóa học</th>
                        <th>Thời gian</th>
                        <th>Trạng thái</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Length > 0) foreach (var result in Model)
                    {
                        <tr>
                            <td>@result.CourseCode</td>
                            <td>@result.CourseName</td>
                            <td>
                                @($"{result.Duration}H {result.StartDate.ToString(WebConstants.DATE_FORMAT_VN)} ~ {result.EndDate.ToString(WebConstants.DATE_FORMAT_VN)}")
                            </td>
                            <td>
                                <span class="badge badge-@((result.IsActive == 1) ? "primary" : "warning")">
                                    @ValueTextHelper.GetActivityText(result.IsActive.ToString())
                                </span>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="card-footer clearfix">
        <a href="@WebConstants.PAGE_COURSES_REGISTER" class="btn btn-sm btn-info float-left">Tạo mới</a>
        <a href="@WebConstants.PAGE_COURSES_LIST" class="btn btn-sm btn-secondary float-right">Xem tất cả</a>
    </div>
</div>